###> dependencies ###
/node_modules
/bower_components
###< dependencies ###

###> IDEs and editors ###
/.idea
.project
.classpath
*.launch
.settings/
###< IDEs and editors ###

###> System Files ###
.DS_Store
Thumbs.db
###< System Files ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
